.heading {
    font-family: "Helvetica", sans-serif;
    color: orange;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    padding: 100px;
}

.recipe-list {
    text-align: center; 
    font-size: 50px;
}

